{% from utils.datetimemixin import dtm %}
	<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="Viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css" id="general">
			a { word-break: break-word; }
			a img { border:none; }
			img { outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; }
			body { width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
			#page-wrap { margin: 0; padding: 0; width: 100% !important; line-height: 100% !important; }
			#outlook a { padding: 0; }
		</style>
		<style type="text/css" id="mobile">
			@media only screen and (max-width: 580px) {
				table[class=email-body-wrap] {
					width: 320px !important;
				}
				td[class=page-bg-show-thru] {
					display: none !important;
				}
				table[class=layout-block-wrapping-table] {
					width: 320px !important;
				}
				table[class=mso-fixed-width-wrapping-table] {
					width: 320px !important;
				}
				*[class=layout-block-full-width] {
					width: 320px !important;
				}
				table[class=layout-block-column], table[class=layout-block-padded-column] {
					width: 100% !important;
				}
				table[class=layout-block-box-padding] {
					width: 100% !important;
					padding: 5px !important;
				}
				table[class=layout-block-horizontal-spacer] {
					display: none !important;
				}
				tr[class=layout-block-vertical-spacer] {
					display: block !important;
					height: 8px !important;}
					td[class=container-padding] {
						display: none !important;
					}

					table {
						min-width: initial !important;
					}
					td {
						min-width: initial !important;
					}

					*[class~=desktop-only] { display: none !important; }
					*[class~=mobile-only] { display: block !important; }

					.hide {
						max-height: none !important;
						display: block !important;
						overflow: visible !important;
					}

					div[eqID="EQMST-598ED695-94FB-4011-B1DE-50588427C015"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-598ED695-94FB-4011-B1DE-50588427C015"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-598ED695-94FB-4011-B1DE-50588427C015"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-B9CBC3CE-DD67-4BFF-975D-5781FA739719"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-0AAD6E7B-835F-4AC7-B8A3-2A024E540F4C"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-0AAD6E7B-835F-4AC7-B8A3-2A024E540F4C"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-0AAD6E7B-835F-4AC7-B8A3-2A024E540F4C"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-188CA4C8-0993-41A1-96D4-3F44AF105B12"] [class~="layout-block-content-cell"] { width: 320px !important; }
					img[eqID="EQMST-A3DFEC46-51FA-451A-ACDD-D6ABFF7CCE7F"] { width: 320px !important; height: 133px !important; } /* image-1.jpg */
					img[id="EQMST-A3DFEC46-51FA-451A-ACDD-D6ABFF7CCE7F"] { width: 320px !important; height: 133px !important; } /* image-1.jpg */

					div[eqID="EQMST-FBE8BE50-6F36-486A-8FF8-2F43EB076170"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-FBE8BE50-6F36-486A-8FF8-2F43EB076170"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-FBE8BE50-6F36-486A-8FF8-2F43EB076170"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-08926C63-5A06-426B-A2B7-54957C8D7AE8"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-F80758DE-9EEF-47C7-AC06-93EA4A39DE2D"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-F80758DE-9EEF-47C7-AC06-93EA4A39DE2D"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-F80758DE-9EEF-47C7-AC06-93EA4A39DE2D"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-7FC5D3D0-8C6D-4FEE-9CF1-3545D1D19E3E"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-9684568B-42D9-480B-88F9-A8A5628A3E95"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-9684568B-42D9-480B-88F9-A8A5628A3E95"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-9684568B-42D9-480B-88F9-A8A5628A3E95"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-D9700901-C4FD-491E-8BAB-AC5F5B356816"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-D9700901-C4FD-491E-8BAB-AC5F5B356816"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-D9700901-C4FD-491E-8BAB-AC5F5B356816"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-5A0DDDEE-87AB-4760-A6E6-3DD7D0F64CFF"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-5A0DDDEE-87AB-4760-A6E6-3DD7D0F64CFF"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-5A0DDDEE-87AB-4760-A6E6-3DD7D0F64CFF"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-F18C5A49-EA8A-46F7-BCDD-C539B2D93C40"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-75862536-3C98-4173-9B69-261FAA665A8A"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-75862536-3C98-4173-9B69-261FAA665A8A"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-75862536-3C98-4173-9B69-261FAA665A8A"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-E1320D44-6640-4F4E-AEC6-AA209512C328"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-E1320D44-6640-4F4E-AEC6-AA209512C328"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-E1320D44-6640-4F4E-AEC6-AA209512C328"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-4BF26532-F0A5-4C2E-86DD-8CCB7BC71355"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-2309A046-0903-47BF-8305-C39CAC50E18A"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-2309A046-0903-47BF-8305-C39CAC50E18A"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-2309A046-0903-47BF-8305-C39CAC50E18A"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-0334C743-2CCC-4D37-A76F-E7CBFB542C7B"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-0334C743-2CCC-4D37-A76F-E7CBFB542C7B"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-0334C743-2CCC-4D37-A76F-E7CBFB542C7B"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-12E7F57C-B02D-44D4-8E0A-A9767EED0D42"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-ADCBDD97-5506-4BAD-B545-728592190CE7"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-ADCBDD97-5506-4BAD-B545-728592190CE7"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-ADCBDD97-5506-4BAD-B545-728592190CE7"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-2B65A99A-F4BD-4C77-A05E-349B060E4421"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-2B65A99A-F4BD-4C77-A05E-349B060E4421"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-2B65A99A-F4BD-4C77-A05E-349B060E4421"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-67FD5A32-AE3D-4950-9438-36602903AFCD"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-DD00AD1F-7359-4F0C-9242-B80C61D972FA"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-DD00AD1F-7359-4F0C-9242-B80C61D972FA"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-DD00AD1F-7359-4F0C-9242-B80C61D972FA"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-78CB2D2A-7C3F-4B4E-8E97-55310E30BEC7"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-A3009140-35C0-4D9F-8612-09E2C12A41D7"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-A3009140-35C0-4D9F-8612-09E2C12A41D7"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-A3009140-35C0-4D9F-8612-09E2C12A41D7"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-CADBA297-7D18-4BC5-98D5-87DEA3FFF880"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-5B6024E7-8D73-472F-B43F-998388997A1F"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-5B6024E7-8D73-472F-B43F-998388997A1F"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-5B6024E7-8D73-472F-B43F-998388997A1F"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-7FD6F6F5-D552-46E5-9049-8BA0ADE44E22"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-7FD6F6F5-D552-46E5-9049-8BA0ADE44E22"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-7FD6F6F5-D552-46E5-9049-8BA0ADE44E22"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-BDDB7961-707C-4EB4-A52B-E466DE2AD9F9"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-1EBBF466-26F3-4538-AE9A-DD4F972BB05D"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-1EBBF466-26F3-4538-AE9A-DD4F972BB05D"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-1EBBF466-26F3-4538-AE9A-DD4F972BB05D"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-12756DEB-1858-4E1A-AA80-4E6D86C27F10"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-12756DEB-1858-4E1A-AA80-4E6D86C27F10"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-12756DEB-1858-4E1A-AA80-4E6D86C27F10"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-4017D699-2CA5-48D6-8CCA-16598DF7D723"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-430A835F-0991-4C65-B769-37A6EDFFF464"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-430A835F-0991-4C65-B769-37A6EDFFF464"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-430A835F-0991-4C65-B769-37A6EDFFF464"] [class~="layout-block-content-cell"] { width: 290px !important; }
					img[eqID="EQMST-F43C9FDF-CE5C-4F55-8400-9601409C9882"] { width: 290px !important; height: 290px !important; } /* image-3.png */
					img[id="EQMST-F43C9FDF-CE5C-4F55-8400-9601409C9882"] { width: 290px !important; height: 290px !important; } /* image-3.png */

					div[eqID="EQMST-5E34B274-9855-450F-96C7-75ED4649C155"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-5E34B274-9855-450F-96C7-75ED4649C155"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-5E34B274-9855-450F-96C7-75ED4649C155"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-1D7C0EFA-9523-4D71-B16C-945790B20081"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-7EB328D5-BB13-480B-8FD4-A5EE24A520B3"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-7EB328D5-BB13-480B-8FD4-A5EE24A520B3"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-7EB328D5-BB13-480B-8FD4-A5EE24A520B3"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-B0D3EC42-9E72-423B-86EF-6ED747FF8497"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-4E615A2F-EA00-4B34-B81A-779244A1355C"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-4E615A2F-EA00-4B34-B81A-779244A1355C"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-4E615A2F-EA00-4B34-B81A-779244A1355C"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-CDEC4CA7-9AD5-4F38-8704-E2C5E734EF60"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-3DBE4DE2-C4B9-4546-9CFC-4D8B89FDA038"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-3DBE4DE2-C4B9-4546-9CFC-4D8B89FDA038"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-3DBE4DE2-C4B9-4546-9CFC-4D8B89FDA038"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-580E226E-2D5C-499F-A3B0-F0E9FA5AE1AB"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-580E226E-2D5C-499F-A3B0-F0E9FA5AE1AB"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-580E226E-2D5C-499F-A3B0-F0E9FA5AE1AB"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-BDDEA2CD-72D0-409D-A676-08F91AA1E83A"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-A575C50E-2981-48DD-B69A-AF368874794A"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-A575C50E-2981-48DD-B69A-AF368874794A"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-A575C50E-2981-48DD-B69A-AF368874794A"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-9DF7DCD4-3A4D-4086-8276-BC5E8EFDDFB9"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-9DF7DCD4-3A4D-4086-8276-BC5E8EFDDFB9"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-9DF7DCD4-3A4D-4086-8276-BC5E8EFDDFB9"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-121D2A7C-ABCC-4FDA-8E4C-58522B31C7F6"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-68E6F193-F74C-42FE-9C20-8534F7B63CB2"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-68E6F193-F74C-42FE-9C20-8534F7B63CB2"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-68E6F193-F74C-42FE-9C20-8534F7B63CB2"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-E7F92E32-6DA9-4156-9B60-07C3F6DAC819"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-E7F92E32-6DA9-4156-9B60-07C3F6DAC819"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-E7F92E32-6DA9-4156-9B60-07C3F6DAC819"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-DD3928A9-2594-4A30-A03A-D8F3EC6C57B5"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-B46126CC-1436-435F-A2B4-A5DEE016ADD3"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-B46126CC-1436-435F-A2B4-A5DEE016ADD3"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-B46126CC-1436-435F-A2B4-A5DEE016ADD3"] [class~="layout-block-content-cell"] { width: 290px !important; }

					div[eqID="EQMST-7F7A5B3A-1021-471D-A3BF-2698155D5E43"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-7F7A5B3A-1021-471D-A3BF-2698155D5E43"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-7F7A5B3A-1021-471D-A3BF-2698155D5E43"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-DF70663E-A6D1-427F-974F-57056998CFCD"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-719E6D11-145E-44E6-AFB6-10F6F338251B"] [class~="layout-block-padding-left"] { width: 15px !important; }
					div[eqID="EQMST-719E6D11-145E-44E6-AFB6-10F6F338251B"] [class~="layout-block-padding-right"] { width: 15px !important; }
					div[eqID="EQMST-719E6D11-145E-44E6-AFB6-10F6F338251B"] [class~="layout-block-content-cell"] { width: 290px !important; }
					td[eqID="EQMST-35199212-AE07-49A3-8C59-A8FD8FF527AB"] { height:10px !important; } /* vertical spacer */

					div[eqID="EQMST-66A68E4D-7B41-487F-833C-BCCA15FB7D50"] [class~="layout-block-content-cell"] { width: 320px !important; }
					img[eqID="EQMST-A077F7DE-E9E9-48DF-AF38-BE47AF9E1960"] { width: 320px !important; height: 70px !important; } /* image-2.jpg */
					img[id="EQMST-A077F7DE-E9E9-48DF-AF38-BE47AF9E1960"] { width: 320px !important; height: 70px !important; } /* image-2.jpg */
				}
			</style>
		<!--[if gte mso 9]>
		<style type="text/css" id="outlook">
			.mso-fixed-width { width: 644px !important; }
			.mso-fixed-width-wrapping-table { width: 644px !important; }
			table.layout-block-horizontal-spacer {
				display: none !important;
			}
			table {
				border-collapse:collapse;
				mso-table-lspace:0pt;
				mso-table-rspace:0pt;
				mso-table-bspace:0pt;
				mso-table-tspace:0pt;
				mso-padding-alt:0;
				mso-table-top:0;
				mso-table-wrap:around;
			}
			td {
				border-collapse:collapse;
				mso-cellspacing:0;
			}
		</style>
		<![endif]-->
		<link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular" rel="stylesheet" type="text/css" class="EQWebFont">
		<link href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic" rel="stylesheet" type="text/css" class="EQWebFont">
		<link href="http://fonts.googleapis.com/css?family=Roboto:regular,italic" rel="stylesheet" type="text/css" class="EQWebFont">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; " background="http://{{ pic_host }}/mail/welcome/page-bg.jpg" eqid="EQMST-5B629705-2068-4643-A1B4-1BA752D88F04" eqbgcolor="#080809">
	<!--[if gte mso 9]>
	<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
	<v:fill type="tile" src="http://{{ pic_host }}/mail/welcome/page-bg.jpg" />
	</v:background>
	<![endif]-->

	<table width="100%" cellspacing="0" cellpadding="0" id="page-wrap" align="center" background="http://{{ pic_host }}/mail/welcome/page-bg.jpg" eqbgcolor="#080809">
		<tbody>
			<tr>
				<td>
					<table class="email-body-wrap" width="700" cellspacing="0" cellpadding="0" id="email-body" align="center">
						<tbody>
							<tr>
								<td width="30" eqfixedwidth="true" class="page-bg-show-thru">&nbsp;</td>
								<td width="640" id="page-body" eqid="EQMST-E42EE1D2-FD64-4CC3-81A8-CEDDEEA78958">
									<div id="eqLayoutContainer">
										<div eqlayoutblock="" eqid="EQMST-598ED695-94FB-4011-B1DE-50588427C015" width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" width="582" eqid="EQMST-B9CBC3CE-DD67-4BFF-975D-5781FA739719" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
                    <div eqlayoutblock="" eqid="EQMST-188CA4C8-0993-41A1-96D4-3F44AF105B12" width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td valign="top" class="layout-block-full-width" width="640" style="min-width: 640px; ">
															<table cellspacing="0" cellpadding="0" class="layout-block-full-width" width="640" style="min-width: 640px; ">
																<tbody>
																	<tr>
																		<td width="640" style="min-width: 640px; ">
																			<div class="layout-block-image">
																				<img width="640" height="266" alt="" eqid="EQMST-A3DFEC46-51FA-451A-ACDD-D6ABFF7CCE7F" src="http://{{ pic_host }}/mail/welcome/image-1.jpg" border="0" style="width: 640px; height: 266px; display: block; " id="EQMST-A3DFEC46-51FA-451A-ACDD-D6ABFF7CCE7F">
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-F80758DE-9EEF-47C7-AC06-93EA4A39DE2D" width="100%" style="background-color: #ffffff;">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-7FC5D3D0-8C6D-4FEE-9CF1-3545D1D19E3E" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td valign="top" align="left" class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-832D1D65-C6DF-4E58-8BEC-3E50F3BC55F4">
                                                                            <table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="heading" eqid="EQMST-5D3E8BB4-426D-4955-9639-2A3F9445ED32" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 30px; font-weight: bold; line-height: 34px; text-align: center; ">Лицензия №&nbsp;{{ tid }}</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-CC146D7E-B485-42E9-A8D9-DB28FE030167">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="text" eqid="EQMST-7618F87D-9A12-4A36-B2DC-5F1EFAB26183" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div style="text-align: center; line-height: 24px; ">
																									<span style="line-height: 24px; ">
																										<font face="Times, Times New Roman, Droid Serif, serif" style="font-size: 18px; ">
																											<b>на проведение охоты и поимку беглых преступников</b>
																										</font>
																									</span>
																								</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-F18C5A49-EA8A-46F7-BCDD-C539B2D93C40" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-E4036403-27B5-4698-AE55-A8AADC0E9C19">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="text" eqid="EQMST-5C203A85-C3B0-4228-8F8A-3601DC7AA248" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div style="color: rgb(0, 0, 0); font-family: Times, 'Times New Roman', 'Droid Serif', serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 1.5; text-align: left; text-decoration: none; ">Согласно данному документу, вы обязуетесь поймать как можно больше <b>Беглецов</b> любой ценой, не нарушая законов Российской Федерации и прав рядовых граждан.</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-4BF26532-F0A5-4C2E-86DD-8CCB7BC71355"tyle="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-5695DE83-57EE-400D-B97C-433577876986">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="text" eqid="EQMST-92D410CB-496C-4A24-97B9-D71247D7DB11" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div style="color: rgb(0, 0, 0); font-family: Times, 'Times New Roman', 'Droid Serif', serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 1.5; text-align: left; text-decoration: none; ">Лицензия выдана владельцам следующих телефонных номеров:</div>
																								<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="562" style="min-width: 562px;">
																									<tbody>
																										<tr>
																											<td align="right" width="1%" style="padding-left: 10px; padding-right: 5px;">
																												<b>СТРЕЛОК</b>:
																											</td>
																											<td align="left" style="padding-left: 5px; padding-right: 10px;">
																												{{ hunter_phone }}
																											</td>
																										</tr>
																										<tr>
																											<td align="right" width="1%" style="padding-left: 10px; padding-right: 5px;">
																												<b>АГЕНТ</b>:
																											</td>
																											<td align="left" style="padding-left: 5px; padding-right: 10px;">
																												{{ bot_phone }}
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-12E7F57C-B02D-44D4-8E0A-A9767EED0D42"tyle="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-466FBC2C-5D5A-42BE-A45A-3DBFD3C08A89">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="text" eqid="EQMST-BABF46C8-DF82-487D-B6EA-715F89BC54C4" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<font face="Times, Times New Roman, Droid Serif, serif">
																									<span style="line-height: 24px; ">Лицензия вступает в силу {{ dtm.dmY_from_ts(start_ts) }} в {{ dtm.HMS_from_ts(start_ts) }}(MSK)</span>
																								</font>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-67FD5A32-AE3D-4950-9438-36602903AFCD" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-A3009140-35C0-4D9F-8612-09E2C12A41D7" style="background-image:url(background.jpg); background-position: 0% 0%; background-repeat: repeat repeat; " width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" background="http://{{ pic_host }}/mail/welcome/background.jpg" bgcolor="#f8f6e4" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" width="582" eqid="EQMST-CADBA297-7D18-4BC5-98D5-87DEA3FFF880" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-5B6024E7-8D73-472F-B43F-998388997A1F" style="background-image:url(background.jpg); background-position: 0% 0%; background-repeat: repeat repeat; " width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" background="http://{{ pic_host }}/mail/welcome/background.jpg" bgcolor="#f8f6e4" eqoriginalbackground="http://{{ pic_host }}/mail/welcome/background.jpg" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td valign="top" align="left" class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " eqid="EQMST-96A99005-A692-4018-B715-DB5D5A5A06C8">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="heading" eqid="EQMST-56E1FE25-4406-4702-A568-F6FC853C40E8" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div style="text-align: center; line-height: 100%; ">
																									<b style="font-size: 30px; line-height: 100%; ">
																										<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">Добро пожаловать в ряды почётных Стражей города!</font>
																									</b>
																								</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-7FD6F6F5-D552-46E5-9049-8BA0ADE44E22" style="background-image:url(background.jpg); background-position: 0% 0%; background-repeat: repeat repeat; " width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" background="http://{{ pic_host }}/mail/welcome/background.jpg" bgcolor="#f8f6e4" eqoriginalbackground="http://{{ pic_host }}/mail/welcome/background.jpg" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" width="582" eqid="EQMST-BDDB7961-707C-4EB4-A52B-E466DE2AD9F9" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-1EBBF466-26F3-4538-AE9A-DD4F972BB05D" style="background-image:url(background.jpg); background-position: 0% 0%; background-repeat: repeat repeat; " width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" background="http://{{ pic_host }}/mail/welcome/background.jpg" bgcolor="#f8f6e4" eqoriginalbackground="http://{{ pic_host }}/mail/welcome/background.jpg" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td valign="top" align="left" class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " eqid="EQMST-3AB0899A-D891-473D-9E82-1C97F2CBD125">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="heading" eqid="EQMST-F5F3D7DB-BFA4-4430-89EC-88DD30ED6BC0" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<b style="font-size: 20px; ">
																									<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">Миссия : «{{ title }}»</font>
																								</b>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-12756DEB-1858-4E1A-AA80-4E6D86C27F10" style="background-image:url(background.jpg); background-position: 0% 0%; background-repeat: repeat repeat; " width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" background="http://{{ pic_host }}/mail/welcome/background.jpg" bgcolor="#f8f6e4" eqoriginalbackground="http://{{ pic_host }}/mail/welcome/background.jpg" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" width="582" eqid="EQMST-4017D699-2CA5-48D6-8CCA-16598DF7D723" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-430A835F-0991-4C65-B769-37A6EDFFF464" style="background-image:url(background.jpg); background-position: 0% 0%; background-repeat: repeat repeat; " width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" background="http://{{ pic_host }}/mail/welcome/background.jpg" bgcolor="#f8f6e4" eqoriginalbackground="http://{{ pic_host }}/mail/welcome/background.jpg" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td eqcontentlayout="horizontal" class="layout-block-content-cell" width="582" eqid="EQMST-BED27297-53AD-4716-935F-CE4616C1FF82" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="287" style="min-width: 287px; ">
																<tbody>
																	<tr>
																		<td class="layout-block-column" width="287" style="min-width: 287px; ">
																			<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="287" style="min-width: 287px; ">
																				<tbody>
																					<tr>
																						<td width="287" valign="top" align="left" class="layout-block-column" eqid="EQMST-DA751D75-D409-4AB3-BEE1-EFD012490AA4" style="min-width: 287px; ">
																							<table cellspacing="0" cellpadding="0" style="padding-left: 10px; padding-right: 10px; min-width: 287px; " class="layout-block-box-padding" width="287">
																								<tbody>
																									<tr>
																										<td width="267" align="left" class="layout-block-padded-column" style="min-width: 267px; ">
																											<div class="text" eqid="EQMST-226A7CC3-6032-43BD-8F95-8A6FF0B2873F" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																												<div style="line-height: 24px; ">
																													<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif" style="font-size: 18px; ">
																														<span style="line-height: 24px; ">
																															<b>Задача</b>
																														</span>
																													</font>
																												</div>
																												<div style="line-height: 24px; ">
																													<span style="line-height: 24px; ">
																														<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">Выследить и поймать беглых преступников за 60 минут, пока они не скрылись из города.</font>
																													</span>
																												</div>
																												<div style="line-height: 24px; ">
																													<span style="line-height: 24px; ">
																														<br>
																													</span>
																												</div>
																												<div style="line-height: 24px; ">
																													<span style="line-height: 24px; ">
																														<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif" style="font-size: 18px; ">
																															<b>Дата и время</b>
																														</font>
																													</span>
																												</div>
																												<div style="line-height: 24px; ">
																													<span style="line-height: 24px; ">
																														<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">{{ dtm.dmY_from_ts(start_ts) }} в {{ dtm.HMS_from_ts(start_ts) }}(MSK)</font>
																													</span>
																												</div>
																												<div style="line-height: 24px; ">
																													<span style="line-height: 24px; ">
																														<br>
                                                                                                                  </span>
																												</div>
																												<div style="line-height: 24px; ">
																													<span style="line-height: 24px; ">
																														<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif" style="font-size: 18px; ">
																															<b>Доступные ресурсы</b>
																														</font>
																													</span>
																												</div>
																												<ul style="list-style-type: disc; text-align: left; ">
																													<li>
																														<span style="line-height: 24px; ">
																															<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">патроны;</font>
																														</span>
																													</li>
																													<li>
																														<span style="line-height: 24px; ">
																															<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">время;</font>
																														</span>
																													</li>
																													<li>
																														<span style="line-height: 24px; ">
																															<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">ориентировки.</font>
																														</span>
																													</li>
																												</ul>
																												<div>
																													<br>
																												</div>
																											</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-horizontal-spacer" width="23" style="min-width: 23px; ">
																<tbody>
																	<tr>
																		<td width="23" class="layout-block-horizontal-spacer" style="min-width: 23px; ">&nbsp;</td>
																	</tr>
																</tbody>
															</table>
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="272" style="min-width: 272px; ">
																<tbody>
																	<tr class="layout-block-vertical-spacer" style="display:none; height:8px; ">
																		<td width="272" style="min-width: 272px; ">
																			<div class="spacer">
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<td valign="top" align="left" class="layout-block-column" width="272" style="min-width: 272px; ">
																			<div class="layout-block-image">
																				<img width="272" height="272" alt="" eqid="EQMST-F43C9FDF-CE5C-4F55-8400-9601409C9882" src="http://{{ pic_host }}/mail/welcome/image-3.png" border="0" id="EQMST-F43C9FDF-CE5C-4F55-8400-9601409C9882" style="width: 272px; height: 272px; display: block; ">
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<td width="272" align="left" class="layout-block-column" style="min-width: 272px; ">
																			<div class="text" eqid="EQMST-30082398-D943-4F86-8DE7-6C584DF91CC3" style="font-size: 16px; font-family: 'Lucida Grande'; background-color: #ffffff; padding-top: 5px; padding-bottom: 5px;">
																				<table cellspacing="0" cellpadding="0" align="center" width="272" style="min-width: 272px; ">
																					<tbody>
																						<tr>
																							<td bgcolor="#ffffff" width="1%">
																								<div style="text-align: center; ">
																									<font color="#000000" style="font-size: 16px; ">
																										<!--<a href="&lt;!&ndash; Ссылка на статичную карту. Документация: https://developers.google.com/maps/documentation/static-maps/intro &ndash;&gt;" style="color: #000000; ">Сохранить</a>-->
																									</font>
																								</div>
																							</td>
																							<td bgcolor="#ffffff" width="1%">
																								<div style="text-align: center; ">
																									<font color="#000000" style="font-size: 16px; ">
																										<!--<a href="https://www.google.ru/maps/@ &lt;!&ndash; Тут данные шаблона, координаты в формате: 59.9290858,30.3575329 &ndash;&gt;,17z?hl=ru" style="color: #000000; ">Открыть</a>-->
																									</font>
																								</div>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-5E34B274-9855-450F-96C7-75ED4649C155" style="background-image:url(background.jpg); background-position: 0% 0%; background-repeat: repeat repeat; " width="100%">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" background="http://{{ pic_host }}/mail/welcome/background.jpg" bgcolor="#f8f6e4" eqoriginalbackground="http://{{ pic_host }}/mail/welcome/background.jpg" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" width="582" eqid="EQMST-1D7C0EFA-9523-4D71-B16C-945790B20081" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div eqlayoutblock="" eqid="EQMST-4E615A2F-EA00-4B34-B81A-779244A1355C" width="100%" style="background-color: #ffffff;">
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-CDEC4CA7-9AD5-4F38-8704-E2C5E734EF60" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td valign="top" align="left" class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-4E583669-F188-4E97-8A22-4DB5EC25FE06">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="heading" eqid="EQMST-CBF032CB-5F60-41CC-94BE-C881891DD350" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div style="text-align: center; line-height: 100%; ">
																									<b style="font-size: 30px; line-height: 100%; ">
																										<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">Тщательная подготовка — залог успешной операции</font>
																									</b>
																								</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-BDDEA2CD-72D0-409D-A676-08F91AA1E83A" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-94D8002B-14AD-495F-9D83-07F6829D938F">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="text" eqid="EQMST-FD95664C-F9ED-4C94-A075-CE3FD24DDAF9" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div style="line-height: 24px; ">
																									<span style="line-height: 24px; ">
																										<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">На местности вы сможете найти дополнительные патроны, увеличение времени охоты, сможете воздействовать на Беглецов и пр.</font>
																									</span>
																								</div>
																								<div style="line-height: 24px; ">
																									<span style="line-height: 24px; ">
																										<font face="Helvetica">
																											<br>
																										</font>
																									</span>
																								</div>
																								<div style="line-height: 24px; ">
																									<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">
																										<span style="line-height: 24px; ">Подробнее о правилах охоты —&nbsp;</span>
																										<a href="http://www.citydoom.com/#/rules">http://www.citydoom.com/#/rules</a>
																									</font>
																								</div>
																								<div style="line-height: 24px; ">
																									<span style="line-height: 24px; ">
																										<font face="Helvetica">
																											<br>
																										</font>
																									</span>
																								</div>
																								<div style="line-height: 24px; ">
																									<span style="line-height: 24px; ">
																										<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif" style="font-size: 18px; ">
																											<b>Вознаграждение за поимку</b>
																										</font>
																									</span>
																								</div>
																								<div style="line-height: 24px; ">
																									<span style="line-height: 24px; ">
																										<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">За каждую успешную операцию в наше неспокойное время организация «Стражи Города» будет выделять вам личные средства в свободное пользование. Размер премиальных зависит от эффективности операции.</font>
																									</span>
																								</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-121D2A7C-ABCC-4FDA-8E4C-58522B31C7F6" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td valign="top" align="left" class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-4B34EC20-BA69-435E-9B03-3102B62A9411">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="heading" eqid="EQMST-E52A68A5-8BFF-41CB-88E7-95EA735B21A7" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 30px; font-weight: bold; line-height: 34px; text-align: center; ">Спокойствие нашего города зависит от вас, Стражи!</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-DD3928A9-2594-4A30-A03A-D8F3EC6C57B5" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="min-width: 29px; ">&nbsp;</td>
														<td class="layout-block-content-cell" width="582" style="min-width: 582px; ">
															<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
																<tbody>
																	<tr>
																		<td width="562" valign="top" align="left" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff" eqid="EQMST-5967B138-0B70-4BAB-9483-252DCEDB01AD">
																			<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
																				<tbody>
																					<tr>
																						<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
																							<div class="text" eqid="EQMST-2B2A599D-CF46-49D1-9588-CCE5956ACA87" style="font-size: 16px; font-family: 'Lucida Grande'; ">
																								<div>
																									<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">Если остались вопросы — свяжитесь с нами. Наши позывные:</font>
																								</div>
																								<ul style="list-style-type: circle; text-align: left; ">
																									<li>
																										<a href="tel:88007779800">
																											<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">8 800 777-9-800</font>
																										</a>
																									</li>
																									<li>
																										<a href="mailto:support@citydoom.com">
																											<font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif">support@citydoom.com</font>
																										</a>
																									</li>
																								</ul>
																								<div>
																									<br>
																								</div>
																							</div>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td width="29" class="layout-block-padding-right" style="min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
											<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
												<tbody>
													<tr>
														<td width="29" class="layout-block-padding-left" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
														<td height="20" eqverticalspacer="" class="layout-block-content-cell" bgcolor="#ffffff" width="582" eqid="EQMST-DF70663E-A6D1-427F-974F-57056998CFCD" style="min-width: 582px; ">
															<div class="spacer">
															</div>
														</td>
														<td width="29" class="layout-block-padding-right" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</td>
								<td width="30" eqfixedwidth="true" class="page-bg-show-thru">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	</body>
	</html>