<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% end %}</title>

    {% block head %}{% end %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>
<div id="content">
    {% if quests %}
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>ID</th>
            <th>Удалить</th>
            <th>Время начала</th>
            <th>Статус</th>
            <th>Оплачен</th>
            <th>RFI ID</th>
            <th>Агент</th>
            <th>Стрелок</th>
        </tr>
        </thead>
        <tbody>
        {% for q in quests %}
        <tr class="{% if q['status'] == 1 %}warning{% elif q['status'] == 2 %}success{% elif q['status'] == 0 %}info{% end %}">
            <td>{{ q['id'] }}</td>
            <td><a data-quest-id="{{q['id']}}" class="del">X</a></td>
            <td>{{ q['start_ts'] }}</td>
            <td>{{ statuses[q['status']] }}</td>
            <td>{% if q['paid'] %} Да {% else %} Нет {% end %}</td>
            <td>{% if 'rfi_order_id' in q %}{{ q['rfi_order_id'] }}{% end %}</td>
            {% for u in users %}
                {% if u.id == q['members']['bot']['user_id'] %}
                    <td>
                        {{ u.fullname }}<br />
                        {{ u.email }}<br />
                        {{ u.phone }}
                    </td>
                {% end %}
                {% if u.id == q['members']['hunter']['user_id'] %}
                    <td>
                        {{ u.fullname }}<br />
                        {{ u.email }}<br />
                        {{ u.phone }}
                    </td>
                {% end %}
            {#
                <!--{% if u.id == q['members']['runaway']['user_id'] %}-->
                    <!--<td>{{ u.fullname }}</td>-->
                <!--{% end %}-->
            #}
            {% end %}
        </tr>
        {% end %}
        </tbody>
    </table>
    {% end %}
</div>
{% block bottom %}{% end %}
<script type="text/javascript">
    $(function() {
        $('.del').click(function(e) {
            el = $(this);
            id = el.data('questId');
            e.preventDefault();
            $.ajax({
                url: '/hbquest?quest_id=' + id,
                type: 'DELETE',
                success: function() {
                    el.parent().parent().remove();
                }
            });
        });
    });
</script>
<style type="text/css">
    a { cursor:pointer; }
</style>
</body>
</html>