<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Social auth</title>
</head>
<body>
<a href="/social/">RESET</a>
<br>
<a href="https://www.facebook.com/dialog/oauth?client_id={{FACEBOOK_APP_ID}}&redirect_uri={{redirect_uri}}&scope=publish_actions">facebook</a>
<br>
<a href="https://accounts.google.com/o/oauth2/auth?client_id={{GOOGLE_OAUTH2_CLIENT_ID}}&response_type=code&redirect_uri={{redirect_uri}}&scope=email">google</a>
<br>
<a href="https://api.twitter.com/oauth/authorize?oauth_consumer_key={{TWITTER_CONSUMER_KEY}}">twitter</a>
<br><br><br>

CODE:
<pre>{{CODE}}</pre>
<a href="/social/facebook/?code={{CODE}}">get facebook user via code param</a>
<br>
<a href="/social/google/?code={{CODE}}">get google user via code param</a>
</body>
</html>